#telaLogin{
	width: 350px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: #353839;
	color: white;
	box-shadow: 1px 5px 30px rgb(243, 243, 243);
	border-radius: 10px 10px;

}
#fundo{
	background: url(img/mn.png);
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
}